html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #222;
    display: flex;
    flex-direction: column;
}

/* Barra de Navegação */
.navbar {
    background-color: #1565C0  !important; 
    padding: 15px 0;
}

/* NOme */
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
}

/* Logo */
.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

/* Links */
.nav-link {
    position: relative;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

/* Linha com hover na barra de navegação*/
.nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #d6bc9a;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.nav-link:hover {
    color: #d6bc9a;
}

.nav-link:hover::after {
    width: 100%;
}

.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
    min-height: 60vh;
    padding: 120px 20px;
    color: #b9dff4;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Camada do GIF */
.hero-gif-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('105296.gif') center center / cover no-repeat;
    z-index: 0;
    opacity: 0.6;
    pointer-events: none; 
}

@media (max-width: 576px) {
    .hero-gif-bg {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #000;
    }
}

/* Camada de overlay escuro */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1;
    pointer-events: none; 
}

/* Conteúdo principal da hero */
.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.hero h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color:white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color:white;
}

@media (max-width: 768px) {
    .hero {
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

/* Botão CTA */
.btn-green {
    background-color: #1565C0;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
}

.btn-green:hover {
    background-color: #0f53a0;
}

/* Seção Cards - Click */
.cards {
    padding: 80px 20px;
    text-align: center;
    border-bottom: 2px solid #0a3361; 
    margin-bottom: 40px; 
}

.cards-box {
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 20px;
}

.cards-box:hover {
    transform: translateY(-5px);
}

.cards-box h3 {
    font-weight: 700; /* mais negrito */
    font-size: 1.3rem; /* destaque visual */
    color: #0a3361; /* reforça a cor principal */
}

/* Pro Emote ficar do tamanho certo, trocar por imagem? Qualidade muda bastanta entre Windows; Android; IoS */
.cards-icon {
    font-size: 3rem;
    color: #0a3361;
    margin-bottom: 15px;
     text-align: center;
}

/* Seção Cards Informativos */
.impact {
    background: #f0f4f8;
    padding: 80px 20px;
    text-align: center;
    min-height: 40vh;
}

.impact p {
    text-align: center;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto 40px auto; 
    font-size: 1.1rem;
    line-height: 1.6;
}

@media (max-width: 576px) {
    .impact p {
        text-align: left;
        margin: 0 10px 30px 10px;
    }
}

.impact h2 {
    color: #0a3361;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 40px auto; 
}

.impact-box {
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center; 
}

.impact-box:hover {
    transform: translateY(-5px);
}

/* Footer */
.footer {
    background: #1565C0;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}











