* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/*  HEADER */
header {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .container {
  max-width: 1100px;
  margin: auto;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

/*  HERO */
.hero {
  padding: 40px 20px;
  text-align: center;
}

.hero-content {
  max-width: 900px;
  margin: auto;
}

.hero-gif {
  width: 100%;
  max-width: 380px;
  height: auto;
  display: block;
  margin: 30px auto 0;
  border-radius: 12px;
}

/* SEÇÕES */
.cards, .impact {
  padding: 50px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
}

/* FOOTER */
footer {
  margin-top: auto;
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .hero-gif {
    max-width: 280px;
  }
}
